*,
*:after,
*:before {
  box-sizing: border-box;
}
// div {
//   // border: 1px solid gray;
// }

.box {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  /* width: 33vw; */
  width: 630px;
  /* height: 50vh; */
  height: 350px;
  flex-direction: row;
  justify-content: center;
}
.room-code-wrapper {
  position: absolute;
  top: -100px;
  .room-title {
    margin-bottom: 12.5px;
  }
  .room-code {
    padding: 12.5px;
    font-size: xx-large;
    transition: .1s;
    border-radius: 10px;
    outline: 0px solid #464646;;
  }
  .room-code:hover {
    outline: 2px solid #464646;;
  }
  .room-code:active {
    background-color: #3d3d3d;
    outline: 2px solid #ffffff;;
  }
}

.profile-wrapper,
.settings-wrapper {
  width: 100%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.guy-wrapper {
  height: 70%;
}
.username-wrapper {
  height: 20%;
}
.guy-wrapper,
.username-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.player-list {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: left;
  flex-flow: column;
  // width: 90%;
  height: 100%;
  margin: 0;
  padding: 0; 
  white-space: nowrap;
  li {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  // li.you::after {
  //   content: " (you)";
  // }
}
.username-wrapper {
  .username {
    padding: 0;
    border: none;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    padding-left: 3%;
    height: 35%;
  }
  button {
    height: 35%;
  }
}
.symbols-wrapper {
  height: 50%;
  align-items: center;
  display: flex;
  flex-flow: column;
  // justify-content: center;
  .card-size-select-wrapper {
    width: 80%;
    height: 70%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .title-size {
    height: 30%;
    width: 100%;
  }
}

.left,
.right {
  width: 20%;
  height: 30%;
  font-size: larger;
}

.symbol-number {
  width: 30%;
  font-size: xx-large;
}

.info-wrapper {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  .size-info {
    padding: 0;
    margin: 0;
  }
}

.menu-button {
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: center;
}
.start,
.cancel {
  height: 66%;
  width: 80%;
}
